* {
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}
*:not(body):not(html):not(.world):not(.sidekicks):not(.minions):not(.v-one-henchmen):not(.v-two-henchmen):not(.shiv-layer):not(.villians):not(.good-layer) {
  border:1px dashed #000;
}

.world {
  padding: 50px 25px;
  background-color: lightgrey;
  width: 100%;
  height: 100%;
}

.good-layer {
  width: 100%;
  text-align: center;
  padding: 5% 0% 2%;
}

.good-layer div {
  display: inline-block;
}

.hero {
  width: 60%;
  height: 403px;
  margin-right: 10px;
}
.sidekicks {
  width: 30%;
  height: 400px;
}
.sidekick-one, .sidekick-two{
  width: 98%;
  height: 50%;
}

.sidekick-one, .sidekick-two, .hero, .villian-one, .villian-two, .v-one-minion-one, .v-two-minion-one, .v-one-minion-two, .v-two-minion-two {
  background-color: black;
}

.shiv-layer, .minions {
  width: 100%;
  text-align: center;
  padding: 5% 0% 8%;
}
.villians {
  text-align: center;
  width: 100%;
}
.villians div {
  display: inline-block;
  height: 25vh;
}
.villian-one, .v-one-henchmen {
  width: 50%;
  margin-right: 6%;
}
.villian-two, .v-two-henchmen{
  width: 35%;
}

.v-one-henchmen, .v-two-henchmen {
  display: inline-block;
}

.v-one-minion-one, .v-one-minion-two {
  width: 49%;
  display: inline-block;
  height: 25vh;
}

.v-two-minion-one, .v-two-minion-two {
  height: 11vh;
}
.v-two-minion-one {
  margin-bottom: 6%;
}
